/**
 * Rules for tuxideas.com
 * @author @jailandrade
 */

/**
 * @import {fonts} Ek-Mukta
 */
 @import url(http://fonts.googleapis.com/css?family=Ek+Mukta:200,700,400);

/**
 * Put a color and background color for selections
 */
::-moz-selection,
::selection {
  background-color: #fff;
  color: #21abcd;
}

/**
 * Tipography
 * @param {font-weight} 400
 * @param {font-weight} 700
 * @param {font-weight} 200
 */

body {
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 400;
}

.title {
  font-weight: 700;
}

.subtitle,
.site-navigation {
  font-weight: 200;
}


/**
 * Site sections
 */

.site-header {
  background: url('../img/startupstockphotos_86511222726_optimizada.jpg'); no-repeat scroll;
  background-size: cover;
}

.site-header-brand {
  position:fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  height: 100px;
  z-index: 1000;
}

.site-header-brand.scrolled {
  background: #198099;
  transition: all ease 0.5s;
  height: 40px;
}

.site-section {
  padding: 2em 0;
  margin: 2em 0;
}

.site-section:first-child {
  margin-top: -100px;
}

.site-name,
.site-navigation {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
}

.site-name {
  width: 35%;
  text-align: center;
  padding: .1em;
}

.site-logo {
  display: inline-block;
}

.site-name .title {
  display: inline-block;
  vertical-align: 20px;
  padding-left: 4px;
}

.site-name a {
  color: #fff;
}

.site-name a:hover{
  color: #21abcd;
}

.site-navigation {
  width: 65%;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-top: 1em;
}

.site-navigation.scrolled{
  padding-top: 0;
}

.site-menu li {
  display: inline-block;
  margin-left: -4px;
  width: 19.5%;
  text-align: center;
  padding: .5em 0;
}

.site-navigation a{
  color: #fff;
}

.site-navigation li:hover {
  background-color: #21abcd;
  border-radius: 3px;
}

.site-description .center{
  margin: 0 auto;
  max-width: 600px;
}

.welcome {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 200;
  color: #fff;
  padding: 300px 0;
}

.site-section-header {
  color: #333;
  font-size: 2rem;
  text-align: center;
}

.site-section-content{
  width: 80%;
  margin: 0 auto;
}

.member,
.service,
.work {
  width: 33%;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
  text-align: center;
}

.stack {
  max-width: 305px;
  margin: 10px auto;
}

.stack .title {
  text-transform: uppercase;
  padding: 5px 0;
}

/* ==============================================

Icon Rules

===============================================*/
.tech {
  width: 50px;
  height: 50px;
  background-size: 100%;
  margin-right: 8px;
  display: inline-block;
}

.html5 { background: url('../img/html5.png') scroll no-repeat; }

.backbonejs { background: url('../img/backbone.png') scroll no-repeat; }

.css3 { background: url('../img/css3.png') scroll no-repeat; }

.jquery { background: url('../img/jquery.png') scroll no-repeat; }

.codeigniter { background: url('../img/codeigniter.png') scroll no-repeat; }


.icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 100%;
  margin-right: 10px;
}

.icon:hover {
  opacity: 0.8;
}

.site-footer .icon {
  height: 24px; width: 24px;
  background-size: 100%;
  margin-right: 5px;
}

.twitter {
  background: url('../img/twitter.png') scroll no-repeat;
}

.github {
  background: url('../img/github.png') scroll no-repeat;
}

.link {
  background: url('../img/link.png') scroll no-repeat;
}

.behance {
  background: url('../img/behance.png') scroll no-repeat;
}

.service img {
  height: 150px,
  width: auto;
  margin: 0 auto;
}

/* ==============================================

Footer Rules

===============================================*/

.site-footer {
  font-weight: 200;
  color: #fff;
  background-color: #4B4B4B;
  padding: 25px 0;
}

.site-footer .left,
.site-footer .right {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.site-footer .right {
  margin-left: -4px;
  text-align: right;
}

/* ==============================================

Contact Rules

===============================================*/



/* ==============================================

Form Rules

===============================================*/

.form {
  margin-top: 20px;
}

.name,
.email,
.subject {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.form-field {
  opacity: 0.5;
  margin: .5em 0 0;
  width: 100%;
  padding: 1em;
  background: transparent;
  border: 2px solid #23B6DA;
  border-radius: 3px;
  color: #2c2c2c;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.form-label {
  opacity: 0;
  display: block;
  padding: 0.4em 1em;
  background-color: #23B6DA;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: left;
  pointer-events: none;
  border-radius: 3px;
}

.form-field:focus{
  opacity: 1;
  transition-delay: 0.3s;
  border: none;
  box-shadow: 0px 0px 0px 2px #23B6DA;
}

.form-field:focus + .form-label{
  opacity: 1;
  transition-property: all;
  transition-duration: 0.3s;
  box-shadow: 0px 0px 0px 2px #23B6DA;
}


select.form-field {
  padding: 0.55em;
}

.submit {
  width: 25%;
  display: inline-block;
}

.submit input {
  cursor: pointer;
}

.submit:hover input {
  opacity: 1;
  background-color: #21abcd;
  color: #fff;
  border: 1px solid #fff;
}

/* ==============================================

Media Querie Rules

===============================================*/


@media (max-width:360px){
  .name,
  .email,
  .subject {
    width: 100%;
    display: block;
    vertical-align: top;
    height: 4rem;
  }

  .work,
  .service,
  .member {
    width: 100%;
    display: block;
    height: 200px;
  }

  .site-section {
    height: 160vh;
  }
}
