@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:200,700,400);

::-moz-selection,
::selection {
  background-color: #fff;
  color: #21abcd;
}

body {
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 400;
  color: #fff;
}

a {
  color: #fff;
}

.title {
  font-weight: 700;
}

.menu {
  font-weight: 200;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.site-header {
  background: url('../img/startupstockphotos_86511222726_optimizada.jpg') no-repeat scroll;
  background-size: cover;
}

.site-section {
  width: 100vw;
  height: 100vh;
}

.site-name,
.site-navigation {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
}

.site-name {
  width: 35%;
  text-align: center;
  padding-top: 25px;
}

.site-name:hover a {
  color: #21abcd;
}

.site-navigation {
  width: 65%;
}

.site-navigation li {
  display: inline-block;
  margin-left: -4px;
  width: 19.5%;
  vertical-align: top;
  padding-top: 35px;
  text-align: center;
  padding-bottom: 15px;
}

.site-navigation li:hover {
  background-color: #21abcd;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.center{
  margin: 250px auto;
  max-width: 600px;
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
}

.site-section-header {
  color: #333;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  padding: 15px 0;
}

.site-footer {
  font-weight: 200;
  color: #fff;
  background-color: #4B4B4B;
  padding: 25px 0;
}

.site-footer .left,
.site-footer .right {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.site-footer .right {
  margin-left: -4px;
  text-align: right;
}

.name,
.email,
.subject {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

input,
textarea {
  margin-top: 1.8rem;
  width: 100%;
  padding: 1em 0.4em;
  background: transparent;
  border: 1px solid #0A6980;
  border-radius: 2px;
  color: #2c2c2c;
}

.submit {
  width: 25%;
  display: inline-block;
}

@media (max-width:320px){

}
