/**
 * Rules for tuxideas.com
 * @author @jailandrade
 */

/**
 * Put a color and background color for selections
 */
::-moz-selection,
::-moz-selection {
  background-color: #fff;
  color: #54BFF0;
}
::-moz-selection,
::selection {
  background-color: #fff;
  color: #54BFF0;
}

/**
 * Tipography
 * @param {font-weight} 400
 * @param {font-weight} 700
 * @param {font-weight} 200
 */

body {
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 400;
}

.title {
  font-weight: 700;
}

.subtitle,
.site-navigation {
  font-weight: 200;
}

/**
 * Site utils
 */

.goto {
  background: #54BFF0;
  width: 120px;
  padding: 15px;
  color: #fff;
  display: inline-block;
  text-align: center;
}

/**
 * Site sections
 */
 .site-header {
   position: fixed;
   left: 0px;
   top: 0px;
   right: 0px;
   height: 80px;
   z-index: 1000;
   background: #fff;
 }


.site-hero {
  background: url('../img/startupstockphotos_86511222726_optimizada.jpg'); no-repeat scroll;
  background-size: cover;
}

.site-section {
  padding: 5em 0;
}

.site-section .title {
  margin-bottom: 10px;
}

.site-section-header {
  color: #333;
  font-size: 2rem;
  text-align: center;
  padding: 1em 0;
}

.site-section-container{
  width: 80%;
  margin: 0 auto;
}


.site-name,
.site-navigation {
  display: inline-block;
  vertical-align: top;
}

.site-name {
  width: 35%;
  text-align: center;
  padding-top: 1em;
}

.site-logo {
  display: inline-block;
  height: 40px;
}

.site-name .title {
  display: inline-block;
  padding-left: 4px;
}

.site-name a {
  color: #fff;
}

.site-name a:hover{
  color: #198099;
}

.site-navigation {
  width: 60%;
  text-transform: uppercase;
  padding-top: 1em;
}

.site-menu {
  font-size: 0;
}

.site-menu li {
  display: inline-block;
  width: 16.6%;
  text-align: center;
  padding: 8px 0;
  font-size: 1.1rem;

}

.site-navigation a{
  color: #54BFF0;
  font-weight: bold;
}

.site-navigation li:hover {
  border-bottom: 1px solid #fff;
}

/* Main */

.site-description {
  margin: 200px auto;
  max-width: 650px;
}

.message-welcome {
  height: 50px;
  line-height: 50px;
}

.message-content {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 200;
  color: #fff;
  height: 50px;
}

.visible {
  height: 50px;
  overflow: hidden;
}

.message-content ul{
  margin-top: 0;
  height:
  -webkit-animation: 8s linear 4s normal none infinite change;
  animation: 8s linear 4s normal none infinite change;
}

.message-content li {
  line-height: 50px;
}

@-webkit-keyframes change {
  0%   {margin-top:0;}
  15%  {margin-top:0;}
  25%  {margin-top:-50px;}
  40%  {margin-top:-50px;}
  50%  {margin-top:-100px;}
  65%  {margin-top:-100px;}
  75%  {margin-top:-50px;}
  85%  {margin-top:-50px;}
  100% {margin-top:0;}
}

@keyframes change {
  0%   {margin-top:0;}
  15%  {margin-top:0;}
  25%  {margin-top:-50px;}
  40%  {margin-top:-50px;}
  50%  {margin-top:-100px;}
  65%  {margin-top:-100px;}
  75%  {margin-top:-50px;}
  85%  {margin-top:-50px;}
  100% {margin-top:0;}
}


.member,
.service,
.work {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
  text-align: center;
  margin: 2em 0;
}

.work img {
  padding: 15px;
}

.stack {
  max-width: 320px;
  margin: 15px auto;
}

.stack .title {
  text-transform: uppercase;
  padding: 10px 0 20px;
}

.site-work {
  background-color: #666;
}

.site-about p {
  line-height: 1.6;
  max-width: 700px;
  margin: 20px auto;
  font-size: 1.1rem;
  text-align: justify;
}

.site-work .title,
.site-work .subtitle,
.site-work .work,
.site-work a {
  color: #fff;
}
/* ==============================================

Icon Rules

===============================================*/
.tech {
  width: 50px;
  height: 50px;
  background-size: 100%;
  margin-right: 10px;
  display: inline-block;
}

.html5 { background: url('../img/html5.png') scroll no-repeat; }

.backbonejs { background: url('../img/backbone.png') scroll no-repeat; }

.css3 { background: url('../img/css3.png') scroll no-repeat; }

.jquery { background: url('../img/jquery.png') scroll no-repeat; }

.codeigniter { background: url('../img/codeigniter.png') scroll no-repeat; }


.icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 100%;
  margin-right: 10px;
}

.icon:hover {
  opacity: 0.8;
}

.site-footer .icon {
  height: 24px; width: 24px;
  background-size: 100%;
  margin-right: 5px;
}

.twitter {
  background: url('../img/twitter.png') scroll no-repeat;
}

.github {
  background: url('../img/github.png') scroll no-repeat;
}

.link {
  background: url('../img/link.png') scroll no-repeat;
}

.behance {
  background: url('../img/behance.png') scroll no-repeat;
}

.service img {
  height: 100px;
  width: auto;
  margin: 0 auto;
}

/* ==============================================

Footer Rules

===============================================*/

.site-footer {
  font-weight: 200;
  color: #fff;
  background-color: #4B4B4B;
  padding: 25px 0;
  font-size: 0;
}

.site-footer a {
  color: #fff;
}

.site-footer a:hover {
  color: #54BFF0;
}

.blog {
  font-size: 1rem;
  border: 1px double #fff;
  padding: 25px 15px;
  margin-bottom: 50px;
}

.credits,
.made-with-love {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  font-size: 1rem;
}

.made-with-love {
  text-align: right;
}

/* ==============================================

Contact Rules

===============================================*/
.site-contact {
  background-color: #efefef;
}

.site-message {
  padding-bottom: 500px;
}



/* ==============================================

Form Rules

===============================================*/

.form {
  margin-top: 20px;
}

.form-group {
  margin: 5px 0;
}

.name,
.email,
.subject {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.form-field {
  margin: .5em 0 0;
  width: 100%;
  padding: 1em;
  background: #54BFF0;
  border: 2px solid #54BFF0;
  border-radius: 2px;
  color: #fff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.form-label {
  opacity: 0;
  display: block;
  padding: 1em;
  background-color: #54BFF0;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: left;
  pointer-events: none;
  border-radius: 2px;
}

.form-field:focus{
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  border: none;
  background: transparent;
  box-shadow: 0px 0px 0px 2px #23B6DA;
  color: #2c2c2c;
}

.form-field:focus + .form-label{
  opacity: 1;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  box-shadow: 0px 0px 0px 2px #23B6DA;
}

.subject .form-field {
  padding: .55em;
}

.submit {
  width: 25%;
  display: inline-block;
}

.submit input {
  cursor: pointer;
}

.submit:hover input {
  opacity: 1;
  background-color: #54BFF0;
  color: #fff;
  border: 1px solid #fff;
}

/* ==============================================

Media Querie Rules

===============================================*/


@media (max-width:360px){
  .name,
  .email,
  .subject {
    width: 100%;
    display: block;
    vertical-align: top;
    height: 4rem;
  }

  .work,
  .service,
  .member {
    width: 100%;
    display: block;
  }

}
